h1 {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #34495e;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

a {
    color: #7f8c8d;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

body {
    background-color: #edf9fc;
}

h4 {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}