p {
    color: rgb(129, 55, 174);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
img {
    width: 200px;
}
.big {
    width: 300px;
}
h1 {
    color: rgb(103, 3, 3);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h3 {
    color: rgb(103, 3, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4 {
    color: rgb(103, 3, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ol{
    color: rgb(3, 96, 104);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
ul{
    color: rgb(3, 96, 104);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
    background-color:rgb(174, 196, 252) ;
}